In [1]:
import numpy as np
import pandas
import pandas as pd

In [2]:
import rbot

In [3]:
ftx = rbot.FtxMarket("BTC-PERP", True)

In [5]:
trades = ftx.select_trades(0, 0)

In [6]:
df = pd.DataFrame(trades)

In [15]:
def trades_to_df(array):
    df = pd.DataFrame(
        array, columns=["timestamp", "price", "size", "side", "liquid"])
    df['timestamp'] = pd.to_datetime(
        (df["timestamp"]), utc=True, unit='us')
    df = df.set_index('timestamp')

    def bs_decode(bs):
        if bs == 0:
            return "Sell"
        elif bs == 1:
            return "Buy"
        else:
            return "ERROR"

    df['side'] = df['side'].map(bs_decode)

    def liquid(liq):
        if liq == 0.0:
            return False
        else:
            return True

    df['liquid'] = df['liquid'].map(liquid)

    return df

In [16]:
df = trades_to_df(trades)

In [22]:
df['diff'] = df.index.to_series().diff()

In [28]:
df[pd.Timedelta(10, unit="sec") < df['diff']]

,price,size,side,liquid,diff
timestamp,,,,,
2022-10-30 12:44:32.441976064+00:00,20728.0,0.0001,Sell,False,0 days 00:00:14.822893056
2022-10-30 12:45:56.010342912+00:00,20734.0,0.0782,Sell,False,0 days 00:00:14.158381824
2022-10-30 12:52:26.429143040+00:00,20738.0,0.0426,Sell,False,0 days 00:00:10.578434048
2022-10-30 12:56:46.009924096+00:00,20745.0,0.0678,Sell,False,0 days 00:00:10.673777152
2022-10-30 13:03:11.537314048+00:00,20726.0,0.0916,Sell,False,0 days 00:00:12.304480
...,...,...,...,...,...
2022-11-01 22:43:03.452621056+00:00,20463.0,0.0001,Buy,False,0 days 00:00:14.287037184
2022-11-01 22:43:34.198615040+00:00,20462.0,0.0001,Sell,False,0 days 00:00:13.036764928
2022-11-01 22:47:34.745540096+00:00,20469.0,0.0001,Sell,False,0 days 00:00:13.160911104
2022-11-01 22:50:03.101317120+00:00,20457.0,0.0001,Buy,False,0 days 00:00:12.872526080
2022-11-01 22:51:04.248941056+00:00,20456.0,0.0001,Sell,False,0 days 00:00:11.214931968

In [29]:
ftx.load_log(50)

'{"start": 2022-09-13T13:26:37.367120, "end": 2022-11-02T13:36:36.994701, "count": 20725702}'

In [30]:
array = ftx.select_trades(0, 0)

In [31]:
array.shape

(20725702, 5)

In [33]:
df = trades_to_df(array)

In [34]:
df[df['liquid']==True]

                                       price    size  side  liquid
timestamp
2022-09-13 13:30:21.208737024+00:00  21337.0  0.0028  Sell    True
2022-09-13 13:36:34.898341120+00:00  21374.0  0.0401  Sell    True
2022-09-13 13:36:47.153015040+00:00  21360.0  0.0432  Sell    True
2022-09-13 13:37:45.171756032+00:00  21329.0  0.2658  Sell    True
2022-09-13 13:38:14.774477056+00:00  21314.0  0.0002  Sell    True
...                                      ...     ...   ...     ...
2022-11-02 10:04:01.318811904+00:00  20400.0  0.2713  Sell    True
2022-11-02 10:06:33.648379904+00:00  20373.0  0.0267  Sell    True
2022-11-02 10:06:42.642800896+00:00  20361.0  0.1708  Sell    True
2022-11-02 10:28:59.081340928+00:00  20390.0  0.0271  Sell    True
2022-11-02 13:33:56.717647104+00:00  20370.0  0.0079  Sell    True

[83061 rows x 4 columns]

In [47]:
df2 = pd.read_csv('ftx.csv', names=("timestamp", 'price', 'order_side', 'liquid', 'id'), i)

In [48]:
df2

                  timestamp   price order_side  liquid          id
1667314934485667      20391  0.0001       Sell   false  5283994328
1667314934380211      20391  0.0001       Sell   false  5283994317
1667314934341958      20392  0.2453        Buy   false  5283994311
1667314934286755      20392  0.0260        Buy   false  5283994301
1667314934271012      20391  0.0001       Sell   false  5283994291
...                     ...     ...        ...     ...         ...
1667227934951002      20350  0.0100        Buy   false  5274339831
1667227934951002      20350  0.0010        Buy   false  5274339830
1667227934439297      20349  0.0010       Sell   false  5274339780
1667227934285876      20349  0.0015        Buy   false  5274339748
1667227934285876      20349  0.0019        Buy   false  5274339747

[293968 rows x 5 columns]

In [39]:
df2['diff'] = df2['timestamp'].diff()

In [40]:
df2['diff']

1667314934485667    NaN
1667314934380211    0.0
1667314934341958    1.0
1667314934286755    0.0
1667314934271012   -1.0
                   ...
1667227934951002    0.0
1667227934951002    0.0
1667227934439297   -1.0
1667227934285876    0.0
1667227934285876    0.0
Name: diff, Length: 293968, dtype: float64

In [45]:
df2[df2['diff'] < -1]

                  timestamp   price order_side  liquid          id  diff
1667314810143806      20405  0.0001       Sell   false  5283979059  -2.0
1667314729898654      20388  0.0011        Buy   false  5283972144  -2.0
1667314723949493      20389  0.1000        Buy   false  5283971641  -2.0
1667314723930986      20388  0.2390        Buy   false  5283971630  -3.0
1667314721484732      20383  0.0200        Buy   false  5283971168  -2.0
...                     ...     ...        ...     ...         ...   ...
1667227982525311      20348  1.0762        Buy   false  5274349198  -2.0
1667227981683112      20345  0.0010        Buy   false  5274349097  -2.0
1667227961829144      20346  0.0010        Buy   false  5274345177  -2.0
1667227960847934      20344  1.6144        Buy   false  5274344978  -2.0
1667227941061546      20349  1.0707        Buy   false  5274341314  -2.0

[1216 rows x 6 columns]