LogReturnが５分、１０分、１５分でどういう傾向があるか確認する。
予想としては、以下。
　・　類似度、一致度は高い
　・　一方、

In [1]:
import rbot

bb_btcusd = rbot.DummyBb()
bb_btcusd.market_type = "BTCUSD"

In [23]:
#bb_btcusd.log_load(10)
#bb_btcusd.dump()
bb_btcusd.restore()

In [20]:
import numpy as np

# period先を予測する　＝　diffはマイナス方向。
def log_return(series, periods=1):
    return np.log(series).diff(periods=-periods)

In [8]:
df = rbot.array_to_df(bb_btcusd.ohlcv(0, 0, 60))

In [9]:
df

                              open     high      low    close     volume
timestamp
2022-06-25 00:00:00+00:00  21210.5  21228.5  21190.5  21199.5  1064828.0
2022-06-25 00:01:00+00:00  21199.5  21227.0  21187.0  21215.5  1366272.0
2022-06-25 00:02:00+00:00  21215.5  21227.0  21211.0  21224.5   624635.0
2022-06-25 00:03:00+00:00  21227.5  21233.5  21201.5  21213.0  1291552.0
2022-06-25 00:04:00+00:00  21210.5  21224.0  21186.5  21186.5   191685.0
...                            ...      ...      ...      ...        ...
2022-07-04 23:55:00+00:00  20219.0  20219.0  20210.0  20210.0   110185.0
2022-07-04 23:56:00+00:00  20208.0  20214.5  20205.0  20206.5   264261.0
2022-07-04 23:57:00+00:00  20207.0  20221.0  20207.0  20212.0   692425.0
2022-07-04 23:58:00+00:00  20212.0  20212.5  20183.0  20183.0  1042352.0
2022-07-04 23:59:00+00:00  20183.0  20200.0  20181.5  20198.5   563009.0

[14398 rows x 5 columns]

In [22]:
df['lr01'] = log_return(df['close'], 1)
df['lr02'] = log_return(df['close'], 2)
df['lr03'] = log_return(df['close'], 3)
df['lr04'] = log_return(df['close'], 4)
df['lr05'] = log_return(df['close'], 5)
df['lr10'] = log_return(df['close'], 10)
df['lr15'] = log_return(df['close'], 15)
df

,open,high,low,close,volume,lr5,lr01,lr02,lr03,lr04,lr05,lr10,lr15
timestamp,,,,,,,,,,,,,
2022-06-25 00:00:00+00:00,21210.5,21228.5,21190.5,21199.5,1064828.0,-0.000754,-0.000754,-0.001179,-0.000637,0.000613,0.001345,0.003284,-0.000896
2022-06-25 00:01:00+00:00,21199.5,21227.0,21187.0,21215.5,1366272.0,-0.000424,-0.000424,0.000118,0.001368,0.002100,0.002761,0.004393,-0.001719
2022-06-25 00:02:00+00:00,21215.5,21227.0,21211.0,21224.5,624635.0,0.000542,0.000542,0.001792,0.002524,0.003185,0.002760,0.004486,-0.001836
2022-06-25 00:03:00+00:00,21227.5,21233.5,21201.5,21213.0,1291552.0,0.001250,0.001250,0.001982,0.002643,0.002218,0.002667,0.003376,-0.001460
2022-06-25 00:04:00+00:00,21210.5,21224.0,21186.5,21186.5,191685.0,0.000732,0.000732,0.001393,0.000968,0.001417,0.002576,0.000236,-0.001816
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-04 23:55:00+00:00,20219.0,20219.0,20210.0,20210.0,110185.0,0.000173,0.000173,-0.000099,0.001337,0.000569,NaN,NaN,NaN
2022-07-04 23:56:00+00:00,20208.0,20214.5,20205.0,20206.5,264261.0,-0.000272,-0.000272,0.001164,0.000396,NaN,NaN,NaN,NaN
2022-07-04 23:57:00+00:00,20207.0,20221.0,20207.0,20212.0,692425.0,0.001436,0.001436,0.000668,NaN,NaN,NaN,NaN,NaN
2022-07-04 23:58:00+00:00,20212.0,20212.5,20183.0,20183.0,1042352.0,-0.000768,-0.000768,NaN,NaN,NaN,NaN,NaN,NaN
2022-07-04 23:59:00+00:00,20183.0,20200.0,20181.5,20198.5,563009.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df

,open,high,low,close,volume,lr5,lr01,lr02,lr03,lr04,lr05,lr10,lr15
timestamp,,,,,,,,,,,,,
2022-06-25 00:00:00+00:00,21210.5,21228.5,21190.5,21199.5,1064828.0,-0.000754,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-25 00:01:00+00:00,21199.5,21227.0,21187.0,21215.5,1366272.0,-0.000424,0.000754,0.000754,0.000754,0.000754,0.000754,0.000754,0.000754
2022-06-25 00:02:00+00:00,21215.5,21227.0,21211.0,21224.5,624635.0,0.000542,0.000424,0.000424,0.000424,0.000424,0.000424,0.000424,0.000424
2022-06-25 00:03:00+00:00,21227.5,21233.5,21201.5,21213.0,1291552.0,0.001250,-0.000542,-0.000542,-0.000542,-0.000542,-0.000542,-0.000542,-0.000542
2022-06-25 00:04:00+00:00,21210.5,21224.0,21186.5,21186.5,191685.0,0.000732,-0.001250,-0.001250,-0.001250,-0.001250,-0.001250,-0.001250,-0.001250
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-04 23:55:00+00:00,20219.0,20219.0,20210.0,20210.0,110185.0,0.000173,-0.000420,-0.000420,-0.000420,-0.000420,-0.000420,-0.000420,-0.000420
2022-07-04 23:56:00+00:00,20208.0,20214.5,20205.0,20206.5,264261.0,-0.000272,-0.000173,-0.000173,-0.000173,-0.000173,-0.000173,-0.000173,-0.000173
2022-07-04 23:57:00+00:00,20207.0,20221.0,20207.0,20212.0,692425.0,0.001436,0.000272,0.000272,0.000272,0.000272,0.000272,0.000272,0.000272
2022-07-04 23:58:00+00:00,20212.0,20212.5,20183.0,20183.0,1042352.0,-0.000768,-0.001436,-0.001436,-0.001436,-0.001436,-0.001436,-0.001436,-0.001436
2022-07-04 23:59:00+00:00,20183.0,20200.0,20181.5,20198.5,563009.0,NaN,0.000768,0.000768,0.000768,0.000768,0.000768,0.000768,0.000768